---
import { Image } from 'astro:assets';
import heroImage from '../../public/zsolt_sebestyen.jpg';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hey there!<br /> I'm <span class="text-orange">Zsolt Sebestyén</span>, a web
				developer and an university student
			</h1>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Zsolt Sebestyén - Web Developer"
			class="max-w-full h-auto rounded-lg"
			width={400}
			height={400}
			loading="eager"
		/>
	</div>
</section>
